This directory, the top level of the samba share, should be set as the output folder for sequencer runs.

Once mounted, specify the output folder in the sequencer settings as:

\\{{ ansible_hostname }}\{{samba_username}}
