[Unit]
Description=Set up a persistent tunnel (using autossh)
Documentation=man:autossh(1)
After=network-online.target

[Service]
Type=simple
PIDFile={{ autossh_tunnel_client_autossh_pidfile }}

Restart=on-failure
RestartSec=15

Environment="AUTOSSH_DEBUG={{ autossh_tunnel_client_autossh_debug }}"
Environment="AUTOSSH_FIRST_POLL={{ autossh_tunnel_client_autossh_first_poll }}"
Environment="AUTOSSH_GATETIME={{ autossh_tunnel_client_autossh_gatetime }}"
Environment="AUTOSSH_LOGLEVEL={{ autossh_tunnel_client_autossh_loglevel }}"
Environment="AUTOSSH_PIDFILE={{ autossh_tunnel_client_autossh_pidfile }}"
Environment="AUTOSSH_POLL={{ autossh_tunnel_client_autossh_poll }}"

ExecStartPre=/usr/bin/test -x /usr/bin/autossh
ExecStartPre=/bin/mkdir -p -m0755 {{ autossh_tunnel_client_autossh_pidfile | dirname }}
ExecStart=/usr/bin/autossh -M 0 -4 -N -L {{ autossh_tunnel_client_forward }} {{ autossh_tunnel_client_user }}@{{ autossh_tunnel_client_host }} -p {{ autossh_tunnel_client_port }} -i {{ autossh_tunnel_client_configuration_directory }}/{{ autossh_tunnel_client_identity }} {% for ssh_options in autossh_tunnel_client_ssh_options %} -o "{{ ssh_options }}" {% endfor %}

[Install]
WantedBy=multi-user.target