[Unit]
Description=Set up a persistent tunnel (using autossh)
Documentation=man:autossh(1)
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
PIDFile={{ autossh_tunnel_client_autossh_pidfile }}

Restart=on-failure
RestartSec=60

ExecStartPre=/usr/bin/test -x /usr/bin/autossh
ExecStartPre=/bin/mkdir -p -m0755 {{ autossh_tunnel_client_autossh_pidfile | dirname }}
ExecStart=/opt/start-autossh.sh

[Install]
WantedBy=multi-user.target